<% if (typeof(script) !== 'undefined' && script) { %>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= theme.comment.duoshuo %>'};
    (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<% } else { %>
    <div class="last-visitors"><div class="line"></div>&nbsp;&nbsp;最近访客</div>
    <div class="ds-recent-visitors" data-num-items="100" data-avatar-size="30" id="ds-recent-visitors"></div>
    <div class="ds-thread" data-thread-key="<%= post.path %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
    <style>        
        #ds-thread #ds-reset .ds-textarea-wrapper {
            background: none;
        }
        #ds-reset .ds-avatar img {
            // box-shadow: none;
            border-radius:50%;
        }
        #ds-reset .ds-gradient-bg {
            background: #f7f7f7;
        }
        #ds-thread #ds-reset li.ds-tab a {
            border-radius: 3px;
        }
        #ds-thread #ds-reset .ds-post-button {
            color: white;
            border: none;
            box-shadow: none;
            background: #d32;
            text-shadow: none;
            font-weight: normal;
            font-family: 'Microsoft Yahei';
        }
        #ds-thread #ds-reset .ds-post-button:hover {
            color: white;
            background: #DE594C;
        }
        #ds-thread #ds-reset .ds-post-button:active {
            background: #d32;
        }
        #ds-smilies-tooltip ul.ds-smilies-tabs li a.ds-current {
            color: white;
            background: #d32;
            box-shadow: none;
            text-shadow: none;
            font-weight: normal;
        }
         #ds-recent-visitors{
             border-bottom:1px dashed #ccc;
             padding:10px 0;

         }
        #ds-recent-visitors img{border-radius:50%;}
        .last-visitors{
            font-size:16px;
            width:100%;
            height:40px;
            line-height:40px;
        }
        .last-visitors div{
            width:5px;
            height:40px;
            background:#ccc;
            float:left;
        }
    </style>
<% } %>