<% if(theme.pv.enable){  %>
     <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
     <span id="<%- url_for(post.path) %>" class="leancloud_visitors"  data-flag-title="<%= post.title %>">0</span>
<% } %>