<aside id="sidebar">
  <div class="sidebar">
   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
   <div>
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>